{% extends "base.html" %}

{% block titulo %} ticket {% endblock %}

{% block contenido %} 

<div class="card mt-5">
    <div class="card-header">
        <a name="" id="" class="btn" href="{% url 'crear_ticket' %}" role="button">
            <i class="fas fa-plus"></i> Nueva ticket
        </a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID ticket</th>
                        <th scope="col">Sala</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Hora</th>
                        <th scope="col">Duración (hrs.)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ticket in tickets %}
                    <tr class="">
                        <td scope="row">{{ ticket.ticket_id }}</td>
                        <td>{{ ticket.ticket_nombre_sala }}</td>
                        <td>{{ ticket.ticket_nombre_usuario }}</td>
                        <td>{{ ticket.ticket_fecha}}</td>
                        <td>{{ ticket.ticket_hora}}</td>
                        <td>{{ ticket.ticket_duracion}}</td>
                        <td>
                            <a name="" id="" class="btn" href="{% url 'editar_ticket' ticket.ticket_id%}" role="button">
                                <i class="fas fa-edit"></i> Editar
                            </a>
                            <a name="" id="" class="btn" href="{% url 'eliminar_ticket' ticket.ticket_id %}" role="button">
                                <i class="fas fa-trash-alt"></i> Eliminar
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer text-muted"></div>
</div>

{% endblock %}
